

<div>
    <h1>{{title}}</h1>
  </div>
  
  <section >
  <form [formGroup]="form" novalidate (submit)="save(form.value)">
     <mat-dialog-content>
         <mat-card class="bgr-negro50">
             <mat-card-content>
                 <div class="row">
                     <div class="col">
                         <mat-card>
                             <mat-card-content>
                                 <mat-accordion>
                                     <mat-expansion-panel [expanded]="true">
  
                                         <mat-card  >
                                             <div class="row">
  
                                                 <input type="hidden" formControlName="articuloId">
                                                 <div class="col-md-4">
                                                    <mat-card style="max-width: 200px;margin: -1px; max-height: 2400px;"

                                                   alt="20">
                                                     <p class="text-center">
                                                       <input style="display:none" accept="image/*" type="file"
                                                       (change)="fileEvent($event)"

                                                           #logoInput />
                                                       <button  *ngIf="!Imagen "  type="button" mat-mini-fab
                                                           color="accent" (click)="logoInput.click()">
                                                           <mat-icon>add_photo_alternate</mat-icon>
                                                       </button>
                                                       <br />
                                                       <label  *ngIf="!Imagen  else logo"  class="mb-3">Imagen
                                                           Producto</label>



                                                             <ng-template #logo>
                                                                    <div (click)="logoInput.click()" class="btnfile">
                                                                        <img *ngIf="!Imagen "
                                                                            src="{{'http://localhost:53871/uploads/'+this.Imagen+'?v='}}"
                                                                            style="max-width: 100%;" alt="20"
                                                                            class="img-thumbnail" />
                                                                            <img *ngIf="!Imagen"
                                                                            src="../../../assets/icons/icon-128x128.png"
                                                                            style="max-width: 100%;" alt="20"
                                                                            class="img-thumbnail" />
                                                                        <img *ngIf="Imagen"
                                                                            src="{{this.Imagen}}"
                                                                            style="max-width: 100%;" alt="20"
                                                                            class="img-thumbnail" />



                                                                    </div>
                                                                </ng-template>

                                                   </p>




                                                   </mat-card>
 
                                                </div>
 

  
                                                 <div class="col-md-8">
                                                     <div class="col-12">
                                                         <mat-form-field class="d-block">
                                                             <input type="text" matInput maxlength="30"
                                                                 placeholder="codigo" formControlName="codigo"
                                                                 required autocomplete="off"
                                                                >
                                                             <mat-error>Valor requerido</mat-error>
                                                         </mat-form-field>
  
                                                     </div>
  
                                                     <div class="col-12">
                                                       <mat-form-field class="d-block">
                                                         <input type="text" matInput maxlength="30"
                                                             placeholder="Descripcion" formControlName="descripcion"
                                                             required autocomplete="off"
                                                            >
                                                         <mat-error>Valor requerido</mat-error>
                                                     </mat-form-field>
  
                                                         <!-- <mat-form-field class="d-block">
                                                             <mat-select matInput placeholder="Tipo de Producto"
                                                                 formControlName="TipoProducto" required>
                                                                 <mat-option *ngFor="let item of ListaTipoServicio"
                                                                     [value]="item.IdTipo">
                                                                     {{item.Nombre}}
                                                                 </mat-option>
                                                             </mat-select>
  
                                                             <mat-error>Valor requerido</mat-error>
  
                                                         </mat-form-field> -->
  
                                                     </div>
  
                                                     <div class=" col-12">
                                                     
  
                                                        <mat-form-field class="d-block">
                                                            <input type="number" matInput maxlength="30"
                                                                placeholder="Precio" formControlName="precio"
                                                                required autocomplete="off"
                                                               >
                                                            <mat-error>Valor requerido</mat-error>
                                                        </mat-form-field>
  
  
  
                                                     </div>
  
  
  
  
  
                                                     <div class="col-12">
                                                       <mat-form-field class="d-block">
                                                         <input type="number" matInput maxlength="30"
                                                             placeholder="Stock" formControlName="stock"
                                                             required autocomplete="off"
                                                             >
                                                         <mat-error>Valor requerido</mat-error>
                                                     </mat-form-field>
  
  
  
  
                                                     </div>
  
  
                                                     <div class="col-12">
                                                      
  
  
  
  
  
                                                     </div>
  
  
  
  
  
  
  
  
                                                 </div>
  
                                             </div>
                                         </mat-card>
  
  
                                     </mat-expansion-panel>
                                 </mat-accordion>
                             </mat-card-content>
                         </mat-card>
                     </div>
                 </div>
             </mat-card-content>
         </mat-card>
     </mat-dialog-content>
     <mat-dialog-actions>
         <button type="button" mat-mini-fab color="accent" [mat-dialog-close]="'cerrar'" cdkFocusInitial>
             <mat-icon>close</mat-icon>
         </button>
         <button type="submit" [disabled]="!form.valid" mat-mini-fab color="accept">
             <mat-icon>check</mat-icon>
         </button>
     </mat-dialog-actions>
  </form>
  </section>
  